params {
    // paths to input fastqs. Comma delimited (e.g., /path/to/R1.fq.gz,/path/to/R2.fq.gz)
    _fqPath = "/pipelines/data/ATAC_Seq"
    fastqInputs = "${_fqPath}/1018-A_GT20_03845_CCTAAGAC-CTAAGCCT_S72_cat_R1_001.fastq.gz"\
                +",${_fqPath}/1018-A_GT20_03845_CCTAAGAC-CTAAGCCT_S72_cat_R2_001.fastq.gz"

    _PseudoGenomesPath = "/PseudoGenomes/B6Final/bowtie2"
    bowtieIndex = _PseudoGenomesPath + "/Mus_musculus.GRCm38.dna.primary_assembly.fa"

    // Base directory where output will be stored
    outputDir = "ATAC_Seq_pipe_output"

    // threads (Must be numeric.)
    threads = 2

    // path to chain file OR null (e.g., /path/to/REF-to-CAST_EiJ.chain)
    chain = "/PseudoGenomes/g2gtools_v1_pseudogenomes/CAST_EiJ/REF-to-CAST_EiJ.chain"
    //chain = null

    tmpdir = "/fastscratch"

    email = "first.last@jax.org"
}
